@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Kaushan+Script&family=Pacifico&family=Cinzel&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: white;
  overflow-x: hidden;
}
nav {
  background-color: #1aa26000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  transition: 1s ease;
  z-index: 1;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: auto;
  transition: 1s ease;
  overflow-y: hidden;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
}

.coollink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.4s;
}
.coollink:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.logo h4 {
  margin-left: 40px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Pacifico", cursive;
}
.logo a {
  text-decoration: none;
}
.navcolorchange {
  background-color: #2f2e41;
  transition: 1s ease;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.288)),
    url("img/Homeback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.homecontent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.homecontent h1 {
  font-size: 50px;
  font-family: "Cinzel", serif;
}

.homecontent p {
  font-size: 20px;
  max-width: 70%;
  text-align: center;
  margin-top: 25px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  text-shadow: 2px black;
}
.homecontent button,button.feedback  {
  padding: 14px 20px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #1aa260;
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  font-weight: 600;
  margin-top: 30px;
}
.homecontent button:hover{
  color: #1aa260;
  background: white;
  transition: all 0.4s ease;
  cursor: pointer;
}
.About {
  position: relative;
  background-color: rgb(255, 255, 255);
}
.aboutcontent {
  color: #2f2e41;
  position: absolute;
  bottom: 370px;
}
.aboutcontent h2 {
  font-size: 54px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}
.aboutcontent p {
  text-align: center;
  margin: 16px 100px 0 100px;
  max-width: 100%;
  font-size: 27px;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
}
.About img {
  height: 300px;
  width: 300px;
  margin: 240px 50px 0 50px;
}
.services {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
a {
  text-decoration: none;
  text-align: center;
  color: #2f2e41;
  font-size: 15px;
}
.con {
  margin-top: 60px;
  width: 200px;
  height: 240px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px 10px #dadada;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servlink:hover {
  transform: translateY(-20px);
  transition: all 0.7s;
}
.testimonialcontainer {
  width: 95%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.testimonial {
  position: relative;
  background-color: rgb(241, 241, 241);
  color: #2f2e41;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 2rem;
  margin: 0 1.5rem;
  box-shadow: 6px 6px 6px 6px #e6e3e3;
}
.avatar {
  border-radius: 100%;
  max-width: 4.3rem;
  height: 70px;
  position: absolute;
  top: -1.8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
}
.testimonialuser {
  text-align: center;
  margin: 1.5rem 0 1rem 0;
}
.user__name {
  font-size: 1.15rem;
  margin-top: 0.5rem;
}
.user__org {
  color: #1aa260;
  margin-top: 0.4rem;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
}
.testimonialtext {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.85rem;
}

.servlogos {
  height: 200px;
  width: 150px;
}
.contactbox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
a {
  text-decoration: none;
}
.logos {
  height: 70px;
  width: 70px;
}
.labels {
  margin-top: 20px;
}
.c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #2f2e41;
  box-shadow: 10px 10px 10px 10px rgb(230, 230, 230);
}
.contlinks:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.7s;
}
button.feedback:hover{
  color: white;
  background: #2f2e41;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  nav {
    display: block;
  }
  .logo h4 {
    position: absolute;
    margin-top: 14px;
    margin-right: 30px;
  }
  .nav-links {
    position: fixed;
    background-color: #1aa260;
    width: 100%;
    height: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -25%);
    -webkit-clip-path: circle(100px at 100% -25%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links a {
    color: white;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }
  .burger {
    position: absolute;
    right: 8%;
    top: 24%;
    cursor: pointer;
    z-index: 2;
    margin-left: 50px;
  }
  .burger div {
    transition: all 0.5s ease;
  }
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    transition: 0.8s ease-out;
    pointer-events: all;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.5s ease;
  }
  .toggle .line2 {
    transform: translateX(400%);
    transition: all 0.5s ease;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.5s ease;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }
  li.fade {
    opacity: 1;
  }
  section {
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .Home {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.288),
        rgba(27, 27, 27, 0.425)
      ),
      url("img/mount.jpeg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .homecontent h1 {
    text-align: center ;
    font-size: 30px;
    margin-top: -50%;
  }
  .homecontent p {
    text-align: center;
    max-width: 80%;
    font-size: 17px;
  }
  .About {
    height: 122vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .About img {
    margin-left: 63px;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 15px;
  }
  .aboutcontent {
    margin-top: 20px;
  }

  .aboutcontent p {
    width: 90%;
    text-align: left;
    font-size: 23px;
    margin-left: 10px;
  }
  .aboutcontent img {
    margin-right: 120px;
  }
  .testimonialcontainer {
    display: none;
  }
  .i2 {
    display: none;
  }
  .Contact {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contactbox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    background-color: white;
  }
  .c1 {
    margin-left: 0px;
    width: 140px;
    height: 150px;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150%;
  }
  .con {
    width: 250px;
    height: 210px;
  }
  .logos {
    height: 70px;
    width: 70px;
  }
  .labels {
    margin-top: 20px;
  }
}
